<div class="min-h-full flex items-center justify-center bg-gray-50 w-10/12">
  <div class="flex-auto my-40 space-y-8">
    
      <%= render partial: 'shared/flash' %>
      <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900 mb-3">Group Our Projects</h1>  
      <div class="mb-3">
            <%= link_to 'SIGN UP', sign_up_path, class: 'mt-8 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primaryLight hover:bg-primaryDark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>

            <%= link_to 'LOG IN', sign_in_path, class: 'mt-8 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-primaryLight bg-white hover:text-white hover:bg-primaryLight focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      </div>
  </div>
</div>