<% provide(:title, 'Projects') %>
<div class="min-h-4/5 flex items-center justify-center content-between flex-wrap bg-gray-50 w-full">
  <div class="w-full flex justify-between border-b-2">
    <h5>Total Amount</h5>
    <p><%= number_with_precision(@projects.sum(:amount), :precision => 2) %> hrs</p>
  </div>

  <div class="w-full text-center">
    <%= link_to new_project_path do %>
      <span>NEW PROJECT</span>
    <% end %>
  </div>
</div>